<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="memberListCount">
			SELECT
			      COUNT(*)
			  FROM
			       MEMBER
	</entry>
	
	
	<entry key="memberList">
		SELECT * 
			  FROM (SELECT 
			              ROWNUM RNUM, 
			              A.* 
			        FROM  (SELECT MEMBER.MEMBER_NO, MEMBER.MEMBER_ID, NICKNAME, MEMBER.ENROLL_DATE, MEMBER.MEMBER_TYPE,REPORT_NO, NVL(BOARD_COUNT,0) BOARD_COUNT, 
			NVL(REPLY_COUNT,0) REPLY_COUNT, NVL(RE_REPLY_COUNT,0) RE_REPLY_COUNT, NVL(POINT_SUM,0) POINT_SUM
			FROM MEMBER LEFT JOIN 
			(SELECT MEMBER_NO,
			COUNT(*) BOARD_COUNT
			FROM MAIN_BOARD
			GROUP BY MEMBER_NO) B 
			ON (MEMBER.MEMBER_NO = B.MEMBER_NO)
			LEFT JOIN (SELECT MEMBER_NO,
			COUNT(*) REPLY_COUNT
			FROM REPLY
			GROUP BY MEMBER_NO) R ON(MEMBER.MEMBER_NO = R.MEMBER_NO) LEFT JOIN 
			(SELECT
			MEMBER_NO,
			COUNT(*) RE_REPLY_COUNT
			FROM RE_REPLY
			GROUP BY MEMBER_NO) RR ON(MEMBER.MEMBER_NO = RR.MEMBER_NO) LEFT JOIN  
			(SELECT MEMBER_NO, SUM(POINT) POINT_SUM
			FROM POINT
			GROUP BY MEMBER_NO) P ON(MEMBER.MEMBER_NO = P.MEMBER_NO)
			ORDER BY MEMBER.MEMBER_NO) A)
			 								WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="adminMemTypeUpdate">
		UPDATE 
		      MEMBER
		   SET 
			  MEMBER_TYPE = ?
	    WHERE 
	         MEMBER_NO = ?
	</entry>
	
	<entry key="businessMemberListCount">
			SELECT
			      COUNT(*)
			  FROM
			       MEMBER_ATTACH
	</entry>
	
	<entry key="businessMemberList">
	SELECT * 
			  FROM (SELECT 
			              ROWNUM RNUM, 
			              A.* 
			        FROM  (SELECT FILE_NO, MEMBER_ATTACH.MEMBER_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
					FROM MEMBER_ATTACH JOIN MEMBER ON (MEMBER_ATTACH.MEMBER_NO = MEMBER.MEMBER_NO)
					WHERE MEMBER.MEMBER_TYPE = 'A'
					ORDER BY MEMBER_NO) A) WHERE
                                                        RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="idmemberList">
		SELECT MEMBER.MEMBER_NO, MEMBER.MEMBER_ID, NICKNAME, MEMBER.ENROLL_DATE, MEMBER.MEMBER_TYPE,REPORT_NO, NVL(BOARD_COUNT,0) BOARD_COUNT, 
			NVL(REPLY_COUNT,0) REPLY_COUNT, NVL(RE_REPLY_COUNT,0) RE_REPLY_COUNT, NVL(POINT_SUM,0) POINT_SUM
			FROM MEMBER LEFT JOIN 
			(SELECT MEMBER_NO,
			COUNT(*) BOARD_COUNT
			FROM MAIN_BOARD
			GROUP BY MEMBER_NO) B 
			ON (MEMBER.MEMBER_NO = B.MEMBER_NO)
			LEFT JOIN (SELECT MEMBER_NO,
			COUNT(*) REPLY_COUNT
			FROM REPLY
			GROUP BY MEMBER_NO) R ON(MEMBER.MEMBER_NO = R.MEMBER_NO) LEFT JOIN 
			(SELECT
			MEMBER_NO,
			COUNT(*) RE_REPLY_COUNT
			FROM RE_REPLY
			GROUP BY MEMBER_NO) RR ON(MEMBER.MEMBER_NO = RR.MEMBER_NO) LEFT JOIN  
			(SELECT MEMBER_NO, SUM(POINT) POINT_SUM
			FROM POINT
			GROUP BY MEMBER_NO) P ON(MEMBER.MEMBER_NO = P.MEMBER_NO)
			WHERE MEMBER_ID LIKE '%'||?||'%'
			ORDER BY MEMBER.MEMBER_NO 
	</entry>
	
	<entry key="nickmemberList">
		SELECT MEMBER.MEMBER_NO, MEMBER.MEMBER_ID, NICKNAME, MEMBER.ENROLL_DATE, MEMBER.MEMBER_TYPE,REPORT_NO, NVL(BOARD_COUNT,0) BOARD_COUNT, 
			NVL(REPLY_COUNT,0) REPLY_COUNT, NVL(RE_REPLY_COUNT,0) RE_REPLY_COUNT, NVL(POINT_SUM,0) POINT_SUM
			FROM MEMBER LEFT JOIN 
			(SELECT MEMBER_NO,
			COUNT(*) BOARD_COUNT
			FROM MAIN_BOARD
			GROUP BY MEMBER_NO) B 
			ON (MEMBER.MEMBER_NO = B.MEMBER_NO)
			LEFT JOIN (SELECT MEMBER_NO,
			COUNT(*) REPLY_COUNT
			FROM REPLY
			GROUP BY MEMBER_NO) R ON(MEMBER.MEMBER_NO = R.MEMBER_NO) LEFT JOIN 
			(SELECT
			MEMBER_NO,
			COUNT(*) RE_REPLY_COUNT
			FROM RE_REPLY
			GROUP BY MEMBER_NO) RR ON(MEMBER.MEMBER_NO = RR.MEMBER_NO) LEFT JOIN  
			(SELECT MEMBER_NO, SUM(POINT) POINT_SUM
			FROM POINT
			GROUP BY MEMBER_NO) P ON(MEMBER.MEMBER_NO = P.MEMBER_NO)
			WHERE NICKNAME LIKE '%'||?||'%'
			ORDER BY MEMBER.MEMBER_NO 
	</entry>
	<entry key="reportmemberList">
		SELECT MEMBER.MEMBER_NO, MEMBER.MEMBER_ID, NICKNAME, MEMBER.ENROLL_DATE, MEMBER.MEMBER_TYPE,REPORT_NO, NVL(BOARD_COUNT,0) BOARD_COUNT, 
			NVL(REPLY_COUNT,0) REPLY_COUNT, NVL(RE_REPLY_COUNT,0) RE_REPLY_COUNT, NVL(POINT_SUM,0) POINT_SUM
			FROM MEMBER LEFT JOIN 
			(SELECT MEMBER_NO,
			COUNT(*) BOARD_COUNT
			FROM MAIN_BOARD
			GROUP BY MEMBER_NO) B 
			ON (MEMBER.MEMBER_NO = B.MEMBER_NO)
			LEFT JOIN (SELECT MEMBER_NO,
			COUNT(*) REPLY_COUNT
			FROM REPLY
			GROUP BY MEMBER_NO) R ON(MEMBER.MEMBER_NO = R.MEMBER_NO) LEFT JOIN 
			(SELECT
			MEMBER_NO,
			COUNT(*) RE_REPLY_COUNT
			FROM RE_REPLY
			GROUP BY MEMBER_NO) RR ON(MEMBER.MEMBER_NO = RR.MEMBER_NO) LEFT JOIN  
			(SELECT MEMBER_NO, SUM(POINT) POINT_SUM
			FROM POINT
			GROUP BY MEMBER_NO) P ON(MEMBER.MEMBER_NO = P.MEMBER_NO)
            WHERE REPORT_NO > 0
			ORDER BY MEMBER.REPORT_NO DESC
	</entry>

</properties>