<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*)
		  FROM
		       MAIN_BOARD
		  WHERE BOARD_TYPE = 'F  '
		   AND
		       BOARD_STATUS = 'N'                     
	</entry>
	
	<entry key="selectHandOverList">
		             	SELECT * FROM(               
						SELECT ROWNUM RNUM, A.* 
						  FROM(SELECT
                                      BOARD_TITLE
                                      ,MEMBER_NO
                                     ,CATEGORY
                                     ,NICKNAME
                                     ,TO_CHAR(CREATE_DATE, 'YY/MM/DD') CREATE_DATE
                                     ,BOARD_COUNT
                                     ,BOARD_NO
                                 FROM
                                      MAIN_BOARD
                                 JOIN
                                      MEMBER USING(MEMBER_NO)
                                WHERE
                       				  BOARD_STATUS = 'N'
                                 AND 
                                     BOARD_STATUS != 'S'
                   				  AND 
                       				  BOARD_TYPE = 'F'
                 			    ORDER
                      			   BY
                           			  BOARD_NO DESC) A)
           WHERE RNUM BETWEEN ? AND ?     
	</entry>
	
	
	
	<entry key="insertHandOverBoard">
		INSERT
		  INTO
		       MAIN_BOARD
		       (
		       BOARD_NO
		      ,MEMBER_NO
		      ,BOARD_TYPE
		      ,CATEGORY
		      ,BOARD_TITLE
		      ,BOARD_CONTENT 
		       )
		VALUES
		       (
		       SEQ_BNO.NEXTVAL
		      ,?
		      ,'F'
		      ,?
		      ,?
		      ,?
		      
		       )      
	</entry>
	
	<entry key="insertHandOverAttachment">
		INSERT
		  INTO
		       BOARD_ATTACH
		       (
		       FILE_NO
		      ,BOARD_NO
		      ,FILE_LEVEL
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,FILE_PATH 
		       )
		VALUES
		       (
		       SEQ_FNO.NEXTVAL
		      ,SEQ_BNO.CURRVAL
		      ,?
		      ,?
		      ,?
		      ,? 
		       )
	</entry>
	
	<entry key="selectHandOverBoard">
		SELECT 
               BOARD_NO
              ,BOARD_TITLE
              ,CATEGORY
              ,BOARD_CONTENT
              ,NICKNAME
              ,CREATE_DATE
              ,BOARD_COUNT
              ,MEMBER_NO
          FROM   
               MAIN_BOARD
          JOIN
               MEMBER USING(MEMBER_NO)
          WHERE
                BOARD_NO = ?
	</entry>
	
	<entry key="HandOverIncreaseCount">
		UPDATE
		       MAIN_BOARD
		   SET
		       BOARD_COUNT = BOARD_COUNT + 1
		 WHERE
		       BOARD_NO = ?
		   AND
		       BOARD_STATUS = 'N' 
	</entry>
	
	<entry key="selectHandOverAtt">
	     SELECT
                FILE_LEVEL
               ,ORIGIN_NAME
               ,(FILE_PATH || '/' || CHANGE_NAME) AS FILE_PATH 
               ,FILE_NO
               ,BOARD_NO
           FROM
                BOARD_ATTACH
          WHERE
                BOARD_NO = ?
            AND
                FILE_STATUS = 'N'     
	</entry>
	
	
	<entry key="updateHandOverBoard">
		UPDATE
		       MAIN_BOARD
		   SET
		       BOARD_TITLE = ?
		      ,BOARD_CONTENT = ?
		      ,CATEGORY = ?
		      ,UPDATE_DATE = SYSDATE
		 WHERE    
		       BOARD_NO = ?
		   AND
		       BOARD_TYPE = 'F'
		   AND
		       BOARD_STATUS = 'N'              
	</entry>
	
	<entry key="updateHandOverAttachment">
		UPDATE
		       BOARD_ATTACH
		   SET
		       ORIGIN_NAME = ?
		      ,CHANGE_NAME = ?
		      ,FILE_PATH = ?
		      ,FILE_LEVEL = ?
		 WHERE
		       FILE_NO = ?
		   AND
		       BOARD_NO = ?             
	</entry>	
	
	<entry key="newInsertHandOverAttachment">
		INSERT
		  INTO
		       BOARD_ATTACH
		       (
		       FILE_NO
		      ,BOARD_NO
		      ,FILE_LEVEL
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,FILE_PATH 
		       )
		VALUES
		       (
		       SEQ_FNO.NEXTVAL
		      ,?
		      ,?
		      ,?
		      ,?
		      ,? 
		       )
	</entry>
	
	
	
	
	<entry key="deleteHandOverBoard">
		UPDATE
		       MAIN_BOARD
		   SET
		       BOARD_STATUS = 'Y'
		 WHERE     
		       BOARD_NO = ?
	</entry>
</properties>